* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Constants and calculations for positioning and scaling of various sizes of hexagons */

 :root {
    --master-scale: 1;
    --maths-root3on2: 0.866025404;
    --master-hex-width: 16rem;
    --master-hex-gap: 0.5rem;
    --master-hex-border: 0.5rem;
    --master-hex-nav-width: 8rem;
    --master-hex-nav-gap: 1rem;
    --master-hex-nav-border: 0.25rem;
    --master-hex-primary-width: 24rem;
    --master-hex-primary-gap: 0.25rem;
    --master-hex-primary-border: 0.5rem;
    --master-hex-secondary-width: 12rem;
    --master-hex-secondary-gap: 0.25rem;
    --master-hex-secondary-border: 0.33rem;
    --master-hex-icon-width: 8rem;
    --master-hex-icon-gap: 1rem;
    --master-hex-icon-border: 0.25rem;
    /* Full size hex constants */
    --hex-width: calc(var(--master-hex-width) * var(--master-scale));
    --hex-height: calc(var(--hex-width) * var(--maths-root3on2));
    --hex-gap: calc(var(--master-hex-gap) * var(--master-scale));
    --hex-gap-half-vertical: calc(var(--hex-gap) * 0.5);
    --hex-gap-horizontal: calc(var(--hex-gap) * var(--maths-root3on2));
    /* Full size hex border constants */
    --hex-border: calc(var(--master-hex-border) * var(--master-scale));
    --hex-border-x: var(--hex-border);
    --hex-border-y: calc(var(--hex-border)*var(--maths-root3on2));
    /* Hex Nav constants */
    --hex-nav-width: calc(var(--master-hex-nav-width) * var(--master-scale));
    --hex-nav-height: calc(var(--hex-nav-width) * var(--maths-root3on2));
    --hex-nav-gap: calc(var(--master-hex-nav-gap) * var(--master-scale));
    --hex-nav-gap-half-vertical: calc(var(--hex-nav-gap) * 0.5);
    --hex-nav-gap-horizontal: calc(var(--hex-nav-gap) * var(--maths-root3on2));
    /* Hex Nav border constants */
    --hex-nav-border: calc(var(--master-hex-nav-border) * var(--master-scale));
    --hex-nav-border-x: var(--hex-nav-border);
    --hex-nav-border-y: calc(var(--hex-nav-border)*var(--maths-root3on2));
    /* Hex Primary constants */
    --hex-primary-width: calc(var(--master-hex-primary-width) * var(--master-scale));
    --hex-primary-height: calc(var(--hex-primary-width) * var(--maths-root3on2));
    --hex-primary-gap: calc(var(--master-hex-primary-gap) * var(--master-scale));
    --hex-primary-gap-half-vertical: calc(var(--hex-primary-gap) * 0.5);
    --hex-primary-gap-horizontal: calc(var(--hex-primary-gap) * var(--maths-root3on2));
    /* Hex Primary border constants */
    --hex-primary-border: calc(var(--master-hex-primary-border) * var(--master-scale));
    --hex-primary-border-x: var(--hex-primary-border);
    --hex-primary-border-y: calc(var(--hex-primary-border)*var(--maths-root3on2));
    /* Hex Secondary constants */
    --hex-secondary-width: calc(var(--master-hex-secondary-width) * var(--master-scale));
    --hex-secondary-height: calc(var(--hex-secondary-width) * var(--maths-root3on2));
    --hex-secondary-gap: calc(var(--master-hex-secondary-gap) * var(--master-scale));
    --hex-secondary-gap-half-vertical: calc(var(--hex-secondary-gap) * 0.5);
    --hex-secondary-gap-horizontal: calc(var(--hex-secondary-gap) * var(--maths-root3on2));
    /* Hex Secondary border constants */
    --hex-secondary-border: calc(var(--master-hex-secondary-border) * var(--master-scale));
    --hex-secondary-border-x: var(--hex-secondary-border);
    --hex-secondary-border-y: calc(var(--hex-secondary-border)*var(--maths-root3on2));
    /* Hex Icon constants */
    --hex-icon-width: calc(var(--master-hex-icon-width) * var(--master-scale));
    --hex-icon-height: calc(var(--hex-icon-width) * var(--maths-root3on2));
    --hex-icon-gap: calc(var(--master-hex-icon-gap) * var(--master-scale));
    --hex-icon-gap-half-vertical: calc(var(--hex-icon-gap) * 0.5);
    --hex-icon-gap-horizontal: calc(var(--hex-icon-gap) * var(--maths-root3on2));
    /* Hex Icon border constants */
    --hex-icon-border: calc(var(--master-hex-icon-border) * var(--master-scale));
    --hex-icon-border-x: var(--hex-icon-border);
    --hex-icon-border-y: calc(var(--hex-icon-border)*var(--maths-root3on2));
    /* Hex alignment starting points */
    --hex-align-left-edge: calc(-1/8 * var(--hex-width) + 0.5 * var(--hex-gap-horizontal));
    --hex-align-middle: calc( -1/2 * var(--hex-width));
    --hex-align-right-edge: calc(-7/8 * var(--hex-width) - 0.5 * var(--hex-gap-horizontal));
    /* Hex icon alignment starting points */
    --hex-icon-align-left-edge: calc(-1/8 * var(--hex-icon-width) + 0.5 * var(--hex-icon-gap-horizontal));
    --hex-icon-align-middle: calc( -1/2 * var(--hex-icon-width));
    --hex-icon-align-right-edge: calc(-7/8 * var(--hex-icon-width) - 0.5 * var(--hex-icon-gap-horizontal));
    /* Hex move constants */
    --hex-move-S-y: calc(var(--hex-height) + var(--hex-gap));
    --hex-move-SE-x: calc(0.75 * var(--hex-width) + var(--hex-gap) * var(--maths-root3on2));
    --hex-move-SE-y: calc(0.5 * var(--hex-height) + var(--hex-gap-half-vertical));
    --hex-move-NE-x: var(--hex-move-SE-x);
    --hex-move-NE-y: calc(-1 * var(--hex-move-SE-y));
    --hex-move-E-x: calc(1.5 * var(--hex-width) + (2 * var(--hex-gap) * var(--maths-root3on2)));
    --hex-move-SW-y: var(--hex-move-SE-y);
    --hex-move-SW-x: calc(-1 * var(--hex-move-SE-x));
    --hex-move-W-x: calc(-1 * var(--hex-move-E-x));
    /* Hex icon move constants */
    --hex-icon-move-S-y: calc(var(--hex-icon-height) + var(--hex-icon-gap));
    --hex-icon-move-SE-x: calc(0.75 * var(--hex-icon-width) + var(--hex-icon-gap) * var(--maths-root3on2));
    --hex-icon-move-SE-y: calc(0.5 * var(--hex-icon-height) + var(--hex-icon-gap-half-vertical));
    --hex-icon-move-NE-x: var(--hex-icon-move-SE-x);
    --hex-icon-move-NE-y: calc(-1 * var(--hex-icon-move-SE-y));
    --hex-icon-move-E-x: calc(1.5 * var(--hex-icon-width) + (2 * var(--hex-icon-gap) * var(--maths-root3on2)));
    --hex-icon-move-SW-y: var(--hex-icon-move-SE-y);
    --hex-icon-move-SW-x: calc(-1 * var(--hex-icon-move-SE-x));
    --hex-icon-move-W-x: calc(-1 * var(--hex-icon-move-E-x));
}

html {
    height: 100%;
    background-color: black;
    background-image: linear-gradient(to right, transparent 0%, black 50%, transparent 100%), url(../images/hextile0.5.svg);
    background-attachment: fixed;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-width: 100%;
    scrollbar-color: #4F4F4F #2F2F2F;
    color: #CFCFCF;
}

body {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* General foreground colours */

.fg-blue {
    color: var(--blue-2);
}

.fg-purple {
    color: var(--purple-2);
}

.fg-green {
    color: var(--green-2);
}

.fg-pink {
    color: var(--pink-2);
}

.fg-aqua {
    color: var(--aqua-2);
}

.fg-yellow {
    color: var(--yellow-2);
}

.fg-black {
    color: black;
}

.fg-transparent {
    color: transparent;
}


/* General Background Colours */

.bg-blue {
    background-color: var(--blue-2);
}

.bg-purple {
    background-color: var(--purple-2);
}

.bg-green {
    background-color: var(--green-2);
}

.bg-pink {
    background-color: var(--pink-2);
}

.bg-aqua {
    background-color: var(--aqua-2);
}

.bg-yellow {
    background-color: var(--yellow-2);
}

.bg-black {
    background-color: black;
}

.bg-transparent {
    background-color: transparent;
}

.bg-auto {
    background-color: var(--article-foreground, var(--page-theme-foreground, grey));
}


/* Background Colours used only for nav bar in tablet/desktop view */

@media screen and (min-width: 550px) {
    .bg-blue-tablet {
        background-color: var(--blue-2);
    }
    .bg-purple-tablet {
        background-color: var(--purple-2);
    }
    .bg-green-tablet {
        background-color: var(--green-2);
    }
    .bg-pink-tablet {
        background-color: var(--pink-2);
    }
    .bg-aqua-tablet {
        background-color: var(--aqua-2);
    }
    .bg-yellow-tablet {
        background-color: var(--yellow-2);
    }
    .bg-black-tablet {
        background-color: black;
    }
    .bg-transparent-tablet {
        background-color: transparent;
    }
    .bg-auto-tablet {
        background-color: var(--article-foreground, var(--page-theme-foreground, grey));
    }
}


/* General SVG fill and stroke colours */

svg.fill-blue path {
    fill: var(--blue-2);
}

svg.fill-purple path {
    fill: var(--purple-2);
}

svg.fill-green path {
    fill: var(--green-2);
}

svg.fill-pink path {
    fill: var(--pink-2);
}

svg.fill-aqua path {
    fill: var(--aqua-2);
}

svg.fill-yellow path {
    fill: var(--yellow-2);
}

svg.fill-black path {
    fill: black;
}

svg.fill-auto path {
    fill: var(--page-theme-foreground);
}

svg.stroke-blue path {
    stroke: var(--blue-2);
}

svg.stroke-purple path {
    stroke: var(--purple-2);
}

svg.stroke-green path {
    stroke: var(--green-2);
}

svg.stroke-pink path {
    stroke: var(--pink-2);
}

svg.stroke-aqua path {
    stroke: var(--aqua-2);
}

svg.stroke-yellow path {
    stroke: var(--yellow-2);
}

svg.stroke-black path {
    stroke: black;
}

svg.stroke-auto path {
    stroke: var(--page-theme-foreground);
}


/* General rules for makign neon glow effect */

.glow-blue {
    filter: drop-shadow(0px 0px 10px #054DF4);
}

.glow-blue-text {
    filter: drop-shadow(0px 0px 20px #054DF4BF);
}

.glow-purple {
    filter: drop-shadow(0px 0px 10px #9E02F4);
}

.glow-purple-text {
    filter: drop-shadow(0px 0px 20px #9E02F4BF);
}

.glow-green {
    filter: drop-shadow(0px 0px 10px #00F800);
}

.glow-green-text {
    filter: drop-shadow(0px 0px 20px #00F800BF);
}

.glow-pink {
    filter: drop-shadow(0px 0px 10px #F5008A);
}

.glow-pink-text {
    filter: drop-shadow(0px 0px 20px #F5008ABF);
}

.glow-aqua {
    filter: drop-shadow(0px 0px 10px #00EAEA);
}

.glow-aqua-text {
    filter: drop-shadow(0px 0px 20px #00EAEABF);
}

.glow-yellow {
    filter: drop-shadow(0px 0px 10px #FFD300);
}

.glow-yellow-text {
    filter: drop-shadow(0px 0px 20px #FFD300BF);
}

.glow-black {
    filter: drop-shadow(0px 0px 10px black);
}


/* Container on home page for positioning hexagon arrangement */

#home-title-container {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}


/* Container for home page positioning of heading */

#title-img-wrapper {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 0 0 0 1rem;
}

.overlay {
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 550px) {
    #title-img-wrapper {
        width: 50%;
    }
}

@media screen and (min-width: 650px) {
    .overlay {
        transform: scale(1.0);
    }
}


/* required to hide the svg definitions of clip paths and stop them from appearing in the page flow.  display: none doesn't work because the definitions are lost */

.defs-clip-svg {
    position: absolute;
    z-index: -999;
}


/* BEGIN HEADER & NAV */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: fixed;
    width: 100%;
    z-index: 5;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hamburger-container,
#close-button-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* height: calc(5rem * var(--maths-root3on2)); */
    height: 5rem;
    width: 5rem;
    clip-path: url("#clip-hex-horizontal-square");
    background-color: var(--page-theme-foreground);
}

#hamburger-container {
    /* position is required so that the child element hamburger can be position absolute relative to this element */
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 5;
}

#close-button-container {
    /* this one is relative because it's parent (the nav) is absolute */
    position: relative;
}


/* overlay to create create false border around container for hexagon border effect */

#hamburger-container:before,
#close-button-container:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: black;
    clip-path: url("#clip-hex-horizontal-square");
    z-index: -2;
}


/* individual bars of hamburger and close button */

.hamburger-bar,
.close-button-bar {
    height: 6px;
    border-radius: 3px;
    border-style: none;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    background-color: var(--page-theme-foreground);
}

.hamburger-bar {
    width: 36px;
    margin: 6px 0;
}

.close-button-bar {
    width: 50px;
}

#close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
}

.close-button-bar-container {
    position: absolute;
}

#close-button-bar-1 {
    transform: rotate(45deg);
}

#close-button-bar-2 {
    transform: rotate(-45deg);
}


/* This is the animated background hex behind the hamburger bars */

#hamburger::before,
#close-button::before {
    content: '';
    display: block;
    position: absolute;
    /* 3px because of the existing 3px false border on the underlying .hamburger::before So it joins up to be a solid surface (if overlap then the alphas add together*/
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    z-index: -1;
    /* border-radius: 50%; */
    clip-path: url("#clip-hex-horizontal-square");
    background: none;
    opacity: 0;
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}


/* This is the hexagonal hover area above the hamburger */

#hamburger::after,
#close-button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* border-radius: 50%; */
    clip-path: url("#clip-hex-horizontal-square");
}


/* Make the hamburger and close buttons appear like a link */

#hamburger:hover,
#close-button:hover {
    cursor: pointer;
}

#hamburger:hover::before,
#close-button:hover::before {
    opacity: 1;
    transform: scale(1);
}

#hamburger:hover::before,
#close-button:hover::before {
    background-color: var(--page-theme-foreground);
}

#hamburger:hover .hamburger-bar,
#close-button:hover .close-button-bar {
    background-color: black;
}


/* END HAMBURGER */


/* BEGIN NAV */

#nav-container {
    position: absolute;
    /* top: 0rem; */
    left: 0rem;
    height: 100vh;
    width: 100%;
    z-index: 10;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    display: flex;
    flex-direction: column;
}

nav {
    position: relative;
    padding: 1rem;
    /* z-index: 6; */
    box-shadow: 0px 0px 20px 20px black;
    background-color: black;
}


/* Nav drawer entry and exit for mobile view */

#nav-container.nav-transparent {
    opacity: 0;
}

#nav-container.nav-opaque {
    opacity: 1;
}

#nav-container.nav-up {
    top: -100vh;
}

#nav-container.nav-down {
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    list-style: none;
    padding: 1rem 0 0;
}

nav a {
    display: block;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--page-theme-foreground);
    transition-property: color, background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}


/* Lots of colours for different colours nav menu items */

nav a:hover {
    background: var(--page-theme-foreground);
    color: black;
}

nav a:hover .nav-link-inner {
    color: black;
}

nav a.hover-blue:hover {
    background: var(--blue-2);
}

nav a.hover-pink:hover {
    background: var(--pink-2);
}

nav a.hover-green:hover {
    background: var(--green-2);
}

nav a.hover-purple:hover {
    background: var(--purple-2);
}

nav a.hover-aqua:hover {
    background: var(--aqua-2);
}

nav a.hover-yellow:hover {
    background: var(--yellow-2);
}

nav a:visited {
    color: var(--page-theme-foreground);
}

nav a:visited:hover {
    color: black;
}

nav a span.nav-break::after {
    content: ' ';
}

#nav-menu-modal-overlay {
    position: relative;
    flex: auto;
    background-color: #0000007F;
}


/* Nav bar behaviour for tablet/desktop */

@media screen and (min-width: 550px) {
    #navbar {
        display: none;
    }
    #close-button-container {
        display: none;
    }
    #nav-menu-modal-overlay {
        display: none;
    }
    #nav-container {
        flex-direction: row;
        justify-content: center;
        /* background-color: var(--green-2); */
        height: unset;
        transition: unset;
        background-color: #0000007F;
        box-shadow: 0px 0px 20px 20px #0000007f;
    }
    #nav-container.nav-up,
    #nav-container.nav-down {
        top: 0;
    }
    #nav-container.nav-transparent,
    #nav-container.nav-opaque {
        opacity: 1;
    }
    nav {
        /* box-shadow: 0px 0px 20px 20px #0000007f; */
        /* background-color: #0000007F; */
        box-shadow: unset;
        background-color: unset;
        /* padding: 2rem; */
    }
    nav ul {
        flex-direction: row;
        padding: 0;
        height: calc(1.5 * var(--hex-nav-height) + var(--hex-nav-gap-half-vertical));
    }
    nav li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--hex-nav-height);
        width: calc(0.75*var(--hex-nav-width) + var(--hex-nav-gap-horizontal));
    }
    nav li:nth-child(even) {
        top: calc(0.5*(var(--hex-nav-height) + var(--hex-nav-gap)));
    }
    nav a {
        background-color: var(--blue-2);
        color: var(--blue-2);
        border-radius: unset;
        padding: unset;
        width: var(--hex-nav-width);
        height: var(--hex-nav-height);
        clip-path: url(#clip-hex-horizontal-preshaped);
        text-align: center;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }
    nav a .nav-link-inner {
        position: absolute;
        top: var(--hex-nav-border-x);
        right: var(--hex-nav-border-y);
        bottom: var(--hex-nav-border-x);
        left: var(--hex-nav-border-y);
        background-color: black;
        clip-path: url(#clip-hex-horizontal-preshaped);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition-property: background-color, color;
        transition-duration: 0.3s;
        transition-timing-function: ease;
    }
    nav a span.nav-break::after {
        content: '';
    }
    nav a:hover .nav-link-inner,
    nav a:active .nav-link-inner,
    nav a:focus .nav-link-inner {
        color: black;
    }
    nav a:hover,
    nav a:active,
    nav a:focus {
        transform: scale(1.1);
    }
    nav a#nav-link-home:hover .nav-link-inner,
    nav a#nav-link-home:active .nav-link-inner,
    nav a#nav-link-home:focus .nav-link-inner,
    nav a#nav-link-home:hover,
    nav a#nav-link-home:active,
    nav a#nav-link-home:focus {
        background-color: var(--blue-2);
    }
    nav a#nav-link-aboutme:hover .nav-link-inner,
    nav a#nav-link-aboutme:active .nav-link-inner,
    nav a#nav-link-aboutme:focus .nav-link-inner,
    nav a#nav-link-aboutme:hover,
    nav a#nav-link-aboutme:active,
    nav a#nav-link-aboutme:focus {
        background-color: var(--pink-2);
    }
    nav a#nav-link-blog:hover .nav-link-inner,
    nav a#nav-link-blog:active .nav-link-inner,
    nav a#nav-link-blog:focus .nav-link-inner,
    nav a#nav-link-blog:hover,
    nav a#nav-link-blog:active,
    nav a#nav-link-blog:focus {
        background-color: var(--green-2);
    }
    nav a#nav-link-contact:hover .nav-link-inner,
    nav a#nav-link-contact:active .nav-link-inner,
    nav a#nav-link-contact:focus .nav-link-inner,
    nav a#nav-link-contact:hover,
    nav a#nav-link-contact:active,
    nav a#nav-link-contact:focus {
        background-color: var(--purple-2);
    }
}


/* Nav bar placement at upper right in desktop view */

@media screen and (min-width: 1000px) {
    #nav-container {
        justify-content: flex-end;
    }
    nav {
        box-shadow: 0px 0px 20px 20px #0000007f;
        background-color: #0000007F;
    }
    #nav-container {
        box-shadow: unset;
        background-color: unset;
    }
}


/* END HEADER & NAV */


/* BEGIN GENERIC MAIN */

main {
    padding: 4rem 1rem 1rem;
    flex-grow: 1;
    position: relative;
    max-width: 1000px;
    /* overflow-x: hidden; THIS BREAKS IOS COMPATIBILITY FOR SOME REASON, but it was used to restrict ability to scroll right in mobile view, particularly in index.html when excess content overflows to right*/
}

header+main {
    /* padding based on 5rem for hamburger, + 1rem top and bottom extra padding */
    padding: 8rem 1rem 1rem;
}

main,
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 3rem 1rem 1rem;
}

footer p {
    font-size: 0.8rem;
    text-align: center;
}

@media screen and (min-width: 550px) {
    /* move main down if on any page with a header (all except index.html) */
    header+main {
        padding: calc(1.5 * var(--hex-nav-height) + var(--hex-nav-gap-half-vertical) + 5rem) 1rem 1rem;
    }
    /* main is higher on index.html because sthere is no header section */
    main {
        padding: 4rem 1rem 1rem;
    }
}


/* Paragraphs appearing as direct children of articles or sections (as used on Blog List, Blog Page, About Me etc */

article>p,
section>p,
article>ul {
    margin: 2rem 0;
    line-height: 1.4;
}


/* Multicolumn used for ul on about me page */

@media screen and (min-width: 400px) {
    ul.multi-column {
        column-count: 2;
    }
}

@media screen and (min-width: 800px) {
    ul.multi-column {
        column-count: 3;
    }
}


/* Figure component used extensively for captioned images on Blog, About Me pages. */

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    clear: both;
}


/* No bottom border if last item on page */

figure:last-child {
    margin: 2rem auto 0;
}


/* float left or right in tablet */

@media screen and (min-width: 550px) {
    figure.float-left {
        float: left;
        margin-right: 3rem;
        ;
    }
    figure.float-right {
        float: right;
        margin-left: 3rem;
        ;
    }
    article>p,
    article>ul,
    section>p {
        font-size: 1.2rem;
        margin: 2rem 0;
        text-align: justify;
    }
}


/* float left or right in desktop */

@media screen and (min-width: 1000px) {
    figure.float-left-desktop {
        float: left;
        margin-right: 3rem;
    }
    figure.float-right-desktop {
        float: right;
        margin-left: 3rem;
    }
}

.img-border-outer.hex,
.img-border-inner.hex {
    clip-path: url(#clip-hex-horizontal-preshaped);
}

a {
    text-decoration: none;
}

a,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--article-foreground, var(--page-theme-foreground, grey));
}


/* prevent headings from floating around images */

h1,
section>h2,
article>h2,
section>h3,
article>h3,
section>h4,
article>h4,
section>h5,
article>h5,
section>h6,
article>h6 {
    clear: both;
    margin-top: 3rem;
}

section>h2+h3,
article>h2+h3 {
    margin-top: 1rem;
}


/* disable browser colouring of links */

a:visited {
    color: var(--page-theme-background);
}

p {
    color: #CFCFCF;
}

figcaption {
    font-size: 1.2rem;
    padding: 0.5rem;
}

p.indent,
ul.indent {
    margin-left: 3rem;
    margin-right: 3rem;
}

article>section {
    margin: 2rem 0;
}


/* Classes to generically arrange items in flex box based on initial direction and changing direction at different screen widths */

.alignment-container {
    display: flex;
    width: 100%;
}

.alignment-container.row {
    flex-direction: row;
}

.alignment-container.column-row {
    flex-direction: column;
    gap: 1rem;
}

.alignment-container.half-width:first-child {
    width: 50%;
}

.alignment-container.end {
    justify-content: end;
}

.alignment-container.center,
.alignment-container.center-end {
    justify-content: center;
}

.alignment-container.align-start {
    align-items: flex-start;
}

.alignment-container.align-end {
    align-items: flex-end;
}

.alignment-container.align-start-end {
    align-items: flex-start;
}

.alignment-container.align-center-end {
    align-items: center;
}

@media screen and (min-width: 650px) {
    .alignment-container.column-row {
        flex-direction: row;
        gap: 1rem;
    }
    .alignment-container.center-end {
        justify-content: flex-end;
    }
    .alignment-container.align-center-end,
    .alignment-container.align-start-end {
        align-items: flex-end;
    }
}


/* END GENERIC MAIN */


/* Colouring, positioning, scaling of hexagons */


/* BEGIN GENERIC HEX */

.hex,
.hex-inner,
.hex-outer,
.hex-link {
    clip-path: url("#clip-hex-horizontal-preshaped");
}

.hex-container {
    height: var(--hex-height);
    width: var(--hex-width);
    display: flex;
    flex-direction: column;
}

.hex-container.abs {
    position: absolute;
}

.hex-container.rel {
    position: relative;
}

.hex-container.icon {
    height: var(--hex-icon-height);
    width: var(--hex-icon-width);
}

.hex-container.crop-width75 {
    width: calc(0.75 * var(--hex-width));
}

.hex-container.crop-width50 {
    width: calc(0.5 * var(--hex-width));
}

.hex {
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
}


/* Inversion of hexagon colours and colours if child elements to give animation for external links etc */

.hex-link:hover svg path,
.hex-link:active svg path,
.hex-link:focus svg path {
    fill: black;
}

.hex-link:hover .bg-blue .hex-inner,
.hex-link:active .bg-blue .hex-inner,
.hex-link:focus .bg-blue .hex-inner {
    background-color: var(--blue-2);
}

.hex-link:hover .bg-green .hex-inner,
.hex-link:active .bg-green .hex-inner,
.hex-link:focus .bg-green .hex-inner {
    background-color: var(--green-2);
}

.hex-link:hover .bg-pink .hex-inner,
.hex-link:active .bg-pink .hex-inner,
.hex-link:focus .bg-pink .hex-inner {
    background-color: var(--pink-2);
}

.hex-link:hover .bg-purple .hex-inner,
.hex-link:active .bg-purple .hex-inner,
.hex-link:focus .bg-purple .hex-inner {
    background-color: var(--purple-2);
}

.hex-link:hover .bg-aqua .hex-inner,
.hex-link:active .bg-aqua .hex-inner,
.hex-link:focus .bg-aqua .hex-inner {
    background-color: var(--aqua-2);
}

.hex-link:hover .bg-yellow .hex-inner,
.hex-link:active .bg-yellow .hex-inner,
.hex-link:focus .bg-yellow .hex-inner {
    background-color: var(--yellow-2);
}

.hex-link:hover .bg-auto .hex-inner,
.hex-link:active .bg-auto .hex-inner,
.hex-link:focus .bg-auto .hex-inner {
    background-color: var(--page-theme-foreground);
}


/* Grow effect for hover/active */

.hex-container.grow .hex-link {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.hex-container.grow .hex-link:hover,
.hex-container.grow .hex-link:active,
.hex-container.grow .hex-link:focus {
    transform: scale(1.1);
}

#home-title-hex-container .hex-container.grow .hex-link:hover,
#home-title-hex-container .hex-container.grow .hex-link:active,
#home-title-hex-container .hex-container.grow .hex-link:focus {
    transform: scale(1.05);
}

.hex-container.grow:hover,
.hex-container.grow:active,
.hex-container.grow:focus {
    z-index: 1;
}

.hex-outer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hex-container.primary {
    width: var(--hex-primary-width);
    height: var(--hex-primary-height);
}

.hex-container.secondary {
    width: var(--hex-secondary-width);
    height: var(--hex-secondary-height);
}


/* Grows some hexes on desktop */

@media screen and (min-width: 1000px) {
    .hex-container.primary-desktop {
        width: var(--hex-primary-width);
        height: var(--hex-primary-height);
    }
}

.hex-inner {
    position: absolute;
    top: var(--hex-border-y);
    bottom: var(--hex-border-y);
    left: var(--hex-border-x);
    right: var(--hex-border-x);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-container.icon .hex-inner {
    top: var(--hex-icon-border-y);
    bottom: var(--hex-icon-border-y);
    left: var(--hex-icon-border-x);
    right: var(--hex-icon-border-x);
}

.hex-link .hex-inner {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.hex svg path {
    transition-property: fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.hex-inner svg {
    max-width: 90%;
}

.hex-container.icon svg {
    height: 100%;
    width: 100%;
}

.hex-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hex-link {
    display: block;
    height: 100%;
    width: 100%;
}

.hex-arrangement-anchor {
    position: relative;
}


/* END GENERIC HEX */


/* BEGIN SPECIFIC HOME STYLES */


/* Arrangement of hexagons in cluster on index.html */

#home-title-hex-container #hex1 {
    left: var(--hex-align-right-edge);
    visibility: hidden;
}

#home-title-hex-container #hex2 {
    top: var(--hex-move-SE-y);
    left: var(--hex-align-left-edge);
}

#home-title-hex-container #hex3 {
    left: var(--hex-align-right-edge);
    top: var(--hex-move-S-y);
}

#home-title-hex-container #hex4 {
    top: calc(var(--hex-move-S-y) + var(--hex-move-SE-y));
    left: var(--hex-align-left-edge);
}

#home-title-hex-container #hex5 {
    top: calc(2 * var(--hex-move-S-y));
    left: var(--hex-align-right-edge);
}

#home-title-hex-container #hex6 {
    left: calc(var(--hex-align-left-edge) + var(--hex-move-SE-x));
    top: var(--hex-move-S-y);
    justify-content: center;
}

#home-title-hex-container #hex6>.hex {
    height: 50%;
    width: 50%;
}

#home-title-hex-container #hex7 {
    left: calc(var(--hex-align-right-edge) + var(--hex-move-SW-x));
    top: calc(var(--hex-move-S-y) + var(--hex-move-SW-y));
    align-items: flex-end;
    justify-content: center;
}

#home-title-hex-container #hex7>.hex {
    height: 16.6666%;
    width: 16.6666%;
}

#home-title-hex-container #hex8 {
    left: calc(var(--hex-align-left-edge) + 0.5 * var(--hex-width));
    top: var(--hex-move-NE-y);
    justify-content: flex-end;
}

#home-title-hex-container #hex8>.hex {
    height: 33.3333%;
    width: 33.3333%;
}

#home-title-container {
    top: 1rem;
}


/* rearrangment of hexagons on index.html at tablet and desktop width */

@media screen and (min-width: 550px) {
    #home-title-hex-container #hex2 {
        left: calc( ((-1/2) * (3/2) + (3/8)) * var(--hex-width));
        top: calc(var(--hex-height) * ((2/3) - (3/4)));
    }
    #home-title-hex-container #hex2>.hex {
        height: 133.3333%;
        width: 133.3333%;
    }
    #home-title-hex-container #hex3 {
        top: calc(var(--hex-move-S-y) + var(--hex-move-SW-y));
        left: calc(var(--hex-align-middle) + var(--hex-move-SW-x));
    }
    #home-title-hex-container #hex4 {
        top: calc(2 * var(--hex-move-S-y));
        left: var(--hex-align-middle);
    }
    #home-title-hex-container #hex5 {
        top: calc(var(--hex-move-S-y) + var(--hex-move-SE-y));
        left: calc(var(--hex-align-middle) + var(--hex-move-SE-x));
    }
    #home-title-hex-container #hex6 {
        left: calc(var(--hex-align-middle) + var(--hex-move-SW-x) - (0.25 * (1 - (2/3)) * 1 * var(--hex-width)));
        top: calc(2 * var(--hex-move-S-y) + var(--hex-move-SW-y));
        justify-content: flex-start;
        align-items: flex-end;
    }
    #home-title-hex-container #hex6>.hex {
        height: 66.6666%;
        width: 66.6666%;
    }
    #home-title-hex-container #hex7 {
        left: calc(var(--hex-align-middle) + var(--hex-move-SE-x) + (0.25 * (1 - (1/3)) * 1 * var(--hex-width)));
        top: calc(2 * var(--hex-move-S-y) + var(--hex-move-SE-y));
        justify-content: flex-start;
        align-items: flex-start;
    }
    #home-title-hex-container #hex7>.hex {
        height: 33.3333%;
        width: 33.333%;
    }
    #home-title-hex-container #hex8 {
        left: calc(var(--hex-align-middle) + var(--hex-move-SE-x) - (0.25 * (1 - (1/2)) * 1 * var(--hex-width)));
        top: var(--hex-move-SE-y);
        justify-content: flex-end;
        align-items: flex-end;
    }
    #home-title-hex-container #hex8>.hex {
        height: 50%;
        width: 50%;
    }
    #home-title-hex-container #hex1 {
        visibility: visible;
        left: calc(var(--hex-align-middle) - (0.25 * (1 - (1/3)) * 1 * var(--hex-width)));
        top: var(--hex-move-S-y);
        justify-content: flex-end;
        align-items: flex-end;
    }
    #home-title-hex-container #hex1>.hex {
        height: 33.3333%;
        width: 33.3333%;
    }
    #home-title-hex-container {
        top: 4rem;
    }
    #home-title-container {
        top: 14rem;
    }
}


/* END SPECIFIC HOME STYLES */


/* BEGIN SPECIFIC ABOUT ME STYLES */


/* square icon overflows hexagon boundary */

#svg-icon-resume {
    height: 70%;
    width: 70%;
}


/* alignment and tweaking of tables */

.grow-shrink {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px;
}

.aboutme-table th.year {
    text-align: right;
    padding: 0.5rem 1rem;
}

#aboutme-twocolumns {
    gap: 4rem;
}


/* END SPECIFIC ABOUT ME STYLES */


/* BEGIN SPECIFIC CONTACT STYLES */


/* Arrangement of hexagons on contact page */

#contact-hex-icons-container {
    top: var(--hex-icon-move-NE-y);
    height: calc(2.5*var(--hex-icon-move-S-y));
}

#hex-container-icon-github {
    left: calc(var(--hex-icon-align-middle) + var(--hex-icon-move-SW-x));
    top: calc(var(--hex-icon-move-SW-y));
}

#hex-container-icon-github svg {
    width: 70%;
}

#hex-container-icon-github a:hover .hex-inner,
#hex-container-icon-github a:active .hex-inner,
#hex-container-icon-github a:focus .hex-inner {
    background-color: var(--pink-2);
}

#hex-container-icon-github a:hover path,
#hex-container-icon-github a:active path,
#hex-container-icon-github a:focus path {
    fill: black;
}

#hex-container-icon-linkedin {
    left: var(--hex-icon-align-middle);
    top: var(--hex-icon-move-S-y);
}

#hex-container-icon-linkedin svg {
    width: 50%;
}

#hex-container-icon-codepen {
    left: calc(var(--hex-icon-align-middle) + var(--hex-icon-move-SW-x));
    top: calc(var(--hex-icon-move-S-y) + var(--hex-icon-move-SW-y));
}

#hex-container-icon-codepen a:hover .hex-inner,
#hex-container-icon-codepen a:active .hex-inner,
#hex-container-icon-codepen a:focus .hex-inner {
    background-color: var(--yellow-2);
}

#hex-container-icon-codepen a:hover path,
#hex-container-icon-codepen a:active path,
#hex-container-icon-codepen a:focus path {
    fill: var(--yellow-2);
    stroke: black;
}

#hex-container-icon-codepen svg {
    width: 70%;
}

#hex-container-icon-gitlab {
    left: var(--hex-icon-align-middle);
    top: calc(2*var(--hex-icon-move-S-y));
}

#hex-container-icon-gitlab svg {
    width: 70%;
}

#hex-container-icon-email {
    left: calc(var(--hex-icon-align-middle) + var(--hex-icon-move-SE-x));
    top: calc(var(--hex-icon-move-S-y) + var(--hex-icon-move-SE-y));
}

#hex-container-icon-email svg {
    width: 55%;
}


/* Rearrangement of hexagons on tablet and desktop pages */

@media screen and (min-width: 550px) {
    #contact-hex-icons-container {
        height: calc(1.5*var(--hex-icon-move-S-y));
    }
    #hex-container-icon-github {
        left: calc(var(--hex-icon-align-middle) + var(--hex-icon-move-W-x));
        top: 0;
        /* top: var(--hex-icon-move-S-y); */
    }
    #hex-container-icon-gitlab {
        left: calc(var(--hex-icon-align-middle) + var(--hex-icon-move-SE-x));
        top: var(--hex-icon-move-SE-y);
    }
    #hex-container-icon-linkedin {
        top: 0;
    }
    #hex-container-icon-codepen {
        top: var(--hex-icon-move-SW-y);
    }
    #hex-container-icon-email {
        left: calc(var(--hex-icon-align-middle) + var(--hex-icon-move-E-x));
        top: 0;
        /* top: var(--hex-icon-move-S-y); */
    }
    #contact-hex-icons-container {
        top: 0;
    }
}


/* END SPECIFIC CONTACT STYLES */


/* BEGIN BLOG SPECIFIC STYLES */


/* Dark transparentish card behind each blog post summary */

.blog-post-summary {
    padding: 1rem;
    /* box-shadow: 0 0 20px -10px var(--page-theme-foreground); */
    background: #0000007F;
    gap: 1rem;
}

.blog-post-summary,
.blog-post-summary-info,
.blog-post-summary-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.blog-post-summary-info {
    gap: 1rem;
}


/* Rearrangement of blog post summary cards at tablet and desktop width. */

@media screen and (min-width: 550px) {
    .blog-post-summary {
        gap: 1rem;
        align-items: flex-start;
    }
    .blog-post-link:nth-child(odd) .blog-post-summary {
        flex-direction: row;
    }
    .blog-post-link:nth-child(even) .blog-post-summary {
        flex-direction: row-reverse;
    }
    .blog-post-link:nth-child(even) .blog-post-summary-info {
        align-items: flex-end;
    }
    .blog-post-summary-info {
        align-items: flex-start;
    }
}


/* Vertical alignment of blog post summary info to align with larger adjacent image hexagon */

@media screen and (min-width: 1000px) {
    .blog-post-summary {
        align-items: center;
    }
}


/* Arrangement of subcomponents of Blog post summary info half */

.blog-post-summary-info,
.blog-post-summary-info-title,
.blog-post-summary-info-data {
    flex-grow: 0;
}

.blog-post-summary-info-text {
    flex-grow: 1;
}

.blog-post-summary-info-data p {
    font-size: 1rem;
}

article.yellow {
    --article-foreground: var(--yellow-2);
}

article.aqua {
    --article-foreground: var(--aqua-2);
}

article.blue {
    --article-foreground: var(--blue-2);
}

article.pink {
    --article-foreground: var(--pink-2);
}

article.purple {
    --article-foreground: var(--purple-2);
}

article.green {
    --article-foreground: var(--green-2);
}


/* END BLOG SPECIFIC STYLES */


/* BEGIN BLOG POST SPECIFIC STYLES */


/* Go Back icon at bottom of every blog post page */

#svg-icon-goback {
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    height: 70%;
    width: 70%;
}


/* Rotation of go back icon at bottom of page */

.hex-container.grow .hex-link:hover #svg-icon-goback {
    transform: rotate(-45deg);
}

.travel-blog-article h2 {
    font-size: 2rem;
}

.travel-blog-article h3 {
    font-size: 1rem;
}

.blog-post-detail-image>img {
    max-width: 100%;
}


/* List of blog posts on Blog page */

.list-flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.blog-post-summary-info-text p {
    text-align: justify;
}


/* END BLOG POST SPECIFIC STYLES */


/* BEGIN EMAIL SPECIFIC STYLES */


/* Container to align entire email form */

#email-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2rem;
}

#email-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-row {
    display: flex;
    gap: 2rem;
}


/* Group label and input together for alignment */

.label-and-input {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 0.5rem;
}

label {
    font-size: 1.2rem;
    font-weight: bold;
}

input {
    height: 2rem;
}

textarea {
    height: 6rem;
}

#email-form label {
    color: var(--page-theme-foreground);
    font-weight: bold;
}

#email-form input,
#email-form textarea {
    background-color: transparent;
    padding: 0.5rem;
    color: #CFCFCF;
    border-width: 1;
    border-color: var(--page-theme-foreground);
}

#email-form textarea {
    resize: vertical;
}

#email-form input[type=text],
#email-form textarea {
    transition-property: outline, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#email-form input[type=text]:focus-visible,
#email-form textarea:focus-visible {
    outline: none;
    box-shadow: 0 0 4px 4px var(--aqua-0);
}

#email-form input[type=text]:focus,
#email-form textarea:focus {
    outline: none;
    box-shadow: 0 0 4px 4px var(--aqua-0);
}

#svg-icon-send {
    width: 55%;
}


/* END EMAIL SPECIFIC STYLES */