* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --master-scale: 1;
    --maths-root3on2: 0.866025404;
    --master-hex-width: 240px;
    --master-hex-gap: 5px;
    --master-hex-border: 0.5rem;
    --master-hex-nav-width: 8rem;
    --master-hex-nav-gap: 1rem;
    --master-hex-nav-border: 0.25rem;
    --scale: 1;
    /* Full size hex constants */
    --hex-width: calc(var(--master-hex-width) * var(--master-scale) * var(--scale));
    --hex-height: calc(var(--hex-width) * var(--maths-root3on2) * var(--scale));
    --hex-gap: calc(var(--master-hex-gap) * var(--master-scale));
    --hex-gap-half-vertical: calc(var(--hex-gap) * 0.5);
    --hex-gap-horizontal: calc(var(--hex-gap) * var(--maths-root3on2));
    /* Full size hex border constants */
    --hex-border: calc(var(--master-hex-border) * var(--master-scale));
    --hex-border-x: var(--hex-border);
    --hex-border-y: calc(var(--hex-border)*var(--maths-root3on2));
    /* Hex Nav constants */
    --hex-nav-width: calc(var(--master-hex-nav-width) * var(--master-scale));
    --hex-nav-height: calc(var(--hex-nav-width) * var(--maths-root3on2));
    --hex-nav-gap: calc(var(--master-hex-nav-gap) * var(--master-scale));
    --hex-nav-gap-half-vertical: calc(var(--hex-nav-gap) * 0.5);
    --hex-nav-gap-horizontal: calc(var(--hex-nav-gap) * var(--maths-root3on2));
    /* Hex Nav border constants */
    --hex-nav-border: calc(var(--master-hex-nav-border) * var(--master-scale));
    --hex-nav-border-x: var(--hex-nav-border);
    --hex-nav-border-y: calc(var(--hex-nav-border)*var(--maths-root3on2));
    /* Hex alignment starting points */
    --hex-align-left-edge: calc(-1/8 * var(--hex-width) + 0.5 * var(--hex-gap-horizontal));
    --hex-align-middle: calc( -1/2 * * var(--hex-width));
    --hex-align-right-edge: calc(-7/8 * var(--hex-width) - 0.5 * var(--hex-gap-horizontal));
    /* Hex move constants */
    --hex-move-S-y: calc(var(--hex-height) + var(--hex-gap));
    --hex-move-SE-x: calc(0.75 * var(--hex-width) + var(--hex-gap) * var(--maths-root3on2));
    --hex-move-SE-y: calc(0.5 * var(--hex-height) + var(--hex-gap-half-vertical));
    --hex-move-NE-x: var(--hex-move-SE-x);
    --hex-move-NE-y: calc(-1 * var(--hex-move-SE-y));
    --hex-move-E-x: calc(1.5 * var(--hex-width) + (2 * var(--hex-gap) * var(--maths-root3on2)));
    --hex-move-SW-y: var(--hex-move-SE-y);
    --hex-move-SW-x: calc(-1 * var(--hex-move-SE-x));
    --hex-move-W-x: calc(-1 * var(--hex-move-E-x));
    /* Hex size constants */
    --hex-size-half-x: calc(0.5 * var(--hex-width));
    --hex-size-half-y: calc(0.5 * var(--hex-height));
    --hex-size-third-x: calc(1/3 * var(--hex-width));
    --hex-size-third-y: calc(1/3 * var(--hex-height));
    --hex-size-quarter-x: calc(0.25 * var(--hex-width));
    --hex-size-quarter-y: calc(0.25 * var(--hex-height));
    --hex-size-4-3-x: calc(4/3 * var(--hex-width));
    --hex-size-4-3-y: calc(4/3 * var(--hex-height));
    --hex-size-3-2-x: calc(1.5 * var(--hex-width));
    --hex-size-3-2-y: calc(1.5 * var(--hex-height));
    --hex-size-double-x: calc(2.0 * var(--hex-width));
    --hex-size-double-y: calc(2.0 * var(--hex-height));
}

html {
    height: 100%;
    background-color: black;
    background-image: linear-gradient(to right, transparent 0%, black 33.3333%, black 66.6666%, transparent 100%), url(../../04-hextilebackground/images/hextile0.5.svg);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-width: 100%;
    scrollbar-color: #4F4F4F #2F2F2F;
}

body {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

p {
    color: #CFCFCF;
}

.bg-blue {
    background-color: var(--blue-2);
}

.bg-purple {
    background-color: var(--purple-2);
}

.bg-green {
    background-color: var(--green-2);
}

.bg-pink {
    background-color: var(--pink-2);
}

.bg-aqua {
    background-color: var(--aqua-2);
}

.bg-yellow {
    background-color: var(--yellow-2);
}

.bg-black {
    background-color: black;
}

svg.fill-blue path {
    fill: var(--blue-2);
}

svg.fill-purple path {
    fill: var(--purple-2);
}

svg.fill-green path {
    fill: var(--green-2);
}

svg.fill-pink path {
    fill: var(--pink-2);
}

svg.fill-aqua path {
    fill: var(--aqua-2);
}

svg.fill-yellow path {
    fill: var(--yellow-2);
}

svg.fill-black path {
    fill: black;
}


/* required to hide the svg definitions and stop them from appearing in the page flow.  display: none doesn't work because the definitions are lost */

.defs-clip-svg {
    position: absolute;
    z-index: -999;
}


/* BEGIN HEADER & NAV */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* position: absolute; */
    /* width: 100%; */
    /* z-index: -10; */
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hamburger-container,
#close-button-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* height: calc(5rem * var(--maths-root3on2)); */
    height: 5rem;
    width: 5rem;
    clip-path: url("#clip-hex-horizontal-square");
}

#hamburger-container {
    /* position is required so that the child element hamburger can be position absolute relative to this element */
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: var(--aqua-2);
    z-index: 5;
}

#close-button-container {
    /* this one is relative because it's parent (the nav) is absolute */
    position: relative;
    background-color: var(--aqua-2);
}


/* overlay to create create false border around container */

#hamburger-container:before,
#close-button-container:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: black;
    clip-path: url("#clip-hex-horizontal-square");
    z-index: -2;
}

.hamburger-bar,
.close-button-bar {
    height: 6px;
    border-radius: 3px;
    border-style: none;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-bar {
    width: 36px;
    margin: 6px 0;
    background-color: var(--aqua-2);
}

.close-button-bar {
    width: 50px;
    background-color: var(--aqua-2);
}

#close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
}

.close-button-bar-container {
    position: absolute;
}

#close-button-bar-1 {
    transform: rotate(45deg);
}

#close-button-bar-2 {
    transform: rotate(-45deg);
}


/* This is the animated background hex behind the hamburger */

#hamburger::before,
#close-button::before {
    content: '';
    display: block;
    position: absolute;
    /* 3px because of the existing 3px false border on the underlying .hamburger::before So it joins up to be a solid surface (if overlap then the alphas add together*/
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    z-index: -1;
    /* border-radius: 50%; */
    clip-path: url("#clip-hex-horizontal-square");
    background: none;
    opacity: 0;
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}


/* This is the hexagonal hover area above the hamburger */

#hamburger::after,
#close-button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* border-radius: 50%; */
    clip-path: url("#clip-hex-horizontal-square");
}

#hamburger:hover,
#close-button:hover {
    cursor: pointer;
}

#hamburger:hover::before,
#close-button:hover::before {
    opacity: 1;
    transform: scale(1);
    /* filter: hue-rotate(30deg); */
}

#hamburger:hover::before {
    background-color: var(--aqua-2);
}

#hamburger:hover .hamburger-bar {
    background-color: black;
}

#close-button:hover::before {
    background-color: var(--aqua-2);
}

#close-button:hover .close-button-bar {
    background-color: black;
}

#nav-container {
    position: absolute;
    /* top: 0rem; */
    left: 0rem;
    height: 100%;
    width: 100%;
    z-index: 10;
    /* top: -9999px; */
    /* opacity: 100; */
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    /* top: -100%; */
    display: flex;
    flex-direction: column;
}

nav {
    position: relative;
    padding: 1rem;
    /* z-index: 6; */
    box-shadow: 0px 0px 20px 20px black;
    background-color: black;
}

#nav-container.nav-transparent {
    opacity: 0;
}

#nav-container.nav-opaque {
    opacity: 100;
}

#nav-container.nav-up {
    top: -100%;
}

#nav-container.nav-down {
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    list-style: none;
    padding: 1rem 0 0;
}

nav a {
    display: block;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--aqua-2);
    transition-property: color, background;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

nav a:hover {
    background: var(--aqua-2);
    color: black;
}

#nav-menu-modal-overlay {
    position: relative;
    flex: auto;
    background-color: #0000007F;
}

@media screen and (min-width: 550px) {
    #navbar {
        display: none;
    }
    #close-button-container {
        display: none;
    }
    #nav-menu-modal-overlay {
        display: none;
    }
    #nav-container {
        flex-direction: row;
        justify-content: center;
        /* background-color: var(--green-2); */
        height: unset;
        transition: unset;
    }
    #nav-container.nav-up,
    #nav-container.nav-down {
        top: 0;
    }
    #nav-container.nav-transparent,
    #nav-container.nav-opaque {
        opacity: 100;
    }
    nav {
        box-shadow: unset;
        background-color: unset;
        /* padding: 2rem; */
    }
    nav ul {
        flex-direction: row;
        gap: -2rem;
        padding: 0;
        height: calc(1.5 * var(--hex-nav-height) + var(--hex-nav-gap-half-vertical));
    }
    nav li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--hex-nav-height);
        width: calc(0.75*var(--hex-nav-width) + var(--hex-nav-gap-horizontal));
    }
    nav li:nth-child(even) {
        top: calc(0.5*(var(--hex-nav-height) + var(--hex-nav-gap)));
    }
    nav a {
        background-color: var(--blue-2);
        color: var(--blue-2);
        border-radius: unset;
        padding: unset;
        height: calc(8rem * var(--maths-root3on2));
        width: 8rem;
        clip-path: url(#clip-hex-horizontal-preshaped);
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
        /* font-size: 1.5rem; */
        position: absolute;
    }
    nav a#nav-link-home {
        background-color: var(--blue-2);
        color: var(--blue-2);
    }
    nav a#nav-link-aboutme {
        background-color: var(--pink-2);
        color: var(--pink-2);
    }
    nav a#nav-link-blog {
        background-color: var(--green-2);
        color: var(--green-2);
    }
    nav a#nav-link-contact {
        background-color: var(--purple-2);
        color: var(--purple-2);
    }
    nav a .nav-link-inner {
        position: absolute;
        top: var(--hex-nav-border-x);
        right: var(--hex-nav-border-y);
        bottom: var(--hex-nav-border-x);
        left: var(--hex-nav-border-y);
        background-color: black;
        clip-path: url(#clip-hex-horizontal-preshaped);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition-property: background-color, color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }
    nav a:hover .nav-link-inner {
        color: black;
    }
    nav a#nav-link-home:hover .nav-link-inner {
        background-color: var(--blue-2);
    }
    nav a#nav-link-home:hover {
        background-color: var(--blue-2);
    }
    nav a#nav-link-aboutme:hover .nav-link-inner {
        background-color: var(--pink-2);
    }
    nav a#nav-link-aboutme:hover {
        background-color: var(--pink-2);
    }
    nav a#nav-link-blog:hover .nav-link-inner {
        background-color: var(--green-2);
    }
    nav a#nav-link-blog:hover {
        background-color: var(--green-2);
    }
    nav a#nav-link-contact:hover .nav-link-inner {
        background-color: var(--purple-2);
    }
    nav a#nav-link-contact:hover {
        background-color: var(--purple-2);
    }
}

@media screen and (min-width: 1000px) {
    #nav-container {
        justify-content: flex-end;
    }
}


/* END HEADER & NAV */


/* BEGIN GENERIC MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding based on 5rem for hamburger, + 1rem top and bottom extra padding */
    padding: 7rem 1rem 1rem;
    flex-grow: 1;
    position: relative;
}

@media screen and (min-width: 550px) {
    main {
        /* top: calc(1.5 * var(--hex-nav-height) + var(--hex-nav-gap-half-vertical) + 2rem); */
        padding: calc(1.5 * var(--hex-nav-height) + var(--hex-nav-gap-half-vertical) + 2rem) 1rem 1rem;
    }
}


/* END GENERIC MAIN */


/* BEGIN GENERIC HEX */

.hex,
.hex-inner,
.hex-link {
    clip-path: url("#clip-hex-horizontal-preshaped");
}

.hex-container {
    --scale: 1;
    height: calc(var(--scale) * var(--hex-height));
    width: calc(var(--scale) * var(--hex-width));
    position: absolute;
    display: flex;
    flex-direction: column;
}

.hex {
    --scale: 1;
    /* height: calc(var(--scale) * var(--hex-height)); */
    /* width: calc(var(--scale) * var(--hex-width)); */
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
}

.hex-link:hover svg path {
    fill: black;
}

.hex-link:hover .bg-blue .hex-inner {
    background-color: var(--blue-2);
}

.hex-link:hover .bg-green .hex-inner {
    background-color: var(--green-2);
}

.hex-link:hover .bg-pink .hex-inner {
    background-color: var(--pink-2);
}

.hex-link:hover .bg-purple .hex-inner {
    background-color: var(--purple-2);
}

.hex-link:hover .bg-aqua .hex-inner {
    background-color: var(--aqua-2);
}

.hex-link:hover .bg-yellow .hex-inner {
    background-color: var(--yellow-2);
}

.hex-inner {
    position: absolute;
    top: var(--hex-border-y);
    bottom: var(--hex-border-y);
    left: var(--hex-border-x);
    right: var(--hex-border-x);
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.hex svg {
    scale: 100%;
    max-width: 100%;
}

.hex svg path {
    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.hex img {
    height: 100%;
    width: 100%;
}

.hex-link {
    display: block;
    height: 100%;
    width: 100%;
}


/* END GENERIC HEX */


/* BEGIN SPECIFIC HOME STYLES */

#title-hex-container {
    position: relative;
    /* width: max-content; */
    height: 600px;
    border: 1px white solid;
}

#hex1 {
    left: var(--hex-align-right-edge);
    visibility: hidden;
}

#hex2 {
    top: var(--hex-move-SE-y);
    left: var(--hex-align-left-edge);
}

#hex3 {
    left: var(--hex-align-right-edge);
    top: var(--hex-move-S-y);
}

#hex4 {
    top: calc(var(--hex-move-S-y) + var(--hex-move-SE-y));
    left: var(--hex-align-left-edge);
}

#hex5 {
    top: calc(2 * var(--hex-move-S-y));
    left: var(--hex-align-right-edge);
}

#hex5 svg {
    scale: 90%;
}

#hex6 {
    left: calc(var(--hex-align-left-edge) + var(--hex-move-SE-x));
    top: var(--hex-move-S-y);
    justify-content: center;
}

#hex6>.hex {
    height: 50%;
    width: 50%;
}

#hex7 {
    left: calc(var(--hex-align-right-edge) + var(--hex-move-SW-x));
    top: calc(var(--hex-move-S-y) + var(--hex-move-SW-y));
    align-items: flex-end;
    justify-content: center;
}

#hex7>.hex {
    height: 16.6666%;
    width: 16.6666%;
}

#hex8 {
    left: calc(var(--hex-align-left-edge) + 0.5 * var(--hex-width));
    top: var(--hex-move-NE-y);
    justify-content: flex-end;
}

#hex8>.hex {
    height: 33.3333%;
    width: 33.3333%;
}


/* END SPECIFIC HOME STYLES */