/* first 4 */


/* https://paletton.com/#uid=63L0X0kw0w0jyC+oRxVy4oIDfjr */


/* second 4 */


/* https://paletton.com/#uid=64e0X0kw0w0jyC+oRxVy4oIDfjr */

:root {
    --blue-0: #5777C0;
    --blue-1: #365BB0;
    --blue-2: #1240AB;
    --blue-3: #0D3184;
    --blue-4: #082568;
    --purple-0: #9A50BF;
    --purple-1: #842EAF;
    --purple-2: #7309AA;
    --purple-3: #590683;
    --purple-4: #460467;
    --green-0: #54D954;
    --green-1: #2ECF2E;
    --green-2: #00CC00;
    --green-3: #009E00;
    --green-4: #007C00;
    --orange-0: #FFCB63;
    --orange-1: #FFBD39;
    --orange-2: #FFAA00;
    --orange-3: #C58300;
    --orange-4: #9B6700;
    --violet-0: #735AC3;
    --violet-1: #5638B4;
    --violet-2: #3914AF;
    --violet-3: #2B0E88;
    --violet-4: #20096A;
    --pink-0: #DA559E;
    --pink-1: #D12F87;
    --pink-2: #CE0071;
    --pink-3: #9F0057;
    --pink-4: #7D0044;
    --teal-0: #46B2B2;
    --teal-1: #249F9F;
    --teal-2: #009999;
    --teal-3: #007676;
    --teal-4: #005D5D;
    --yellow-0: #FFE463;
    --yellow-1: #FFDD39;
    --yellow-2: #FFD300;
    --yellow-3: #C5A300;
    --yellow-4: #9B8000;
}