* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --master-scale: 1;
    --maths-root3on2: 0.866025404;
    --hex-width: calc(240px * var(--master-scale));
    --hex-height: calc(var(--hex-width) * var(--maths-root3on2));
    --hex-gap: calc(20px * var(--master-scale));
    --hex-gap-nav-vertical: calc(var(--hex-gap) * 0.5);
    --hex-gap-nav-horizontal: calc(var(--hex-gap) * var(--maths-root3on2));
    --hex-width-nav: calc(8rem * var(--master-scale));
    --hex-height-nav: calc(var(--hex-width-nav) * var(--maths-root3on2));
    --hex-gap-nav: calc(1rem * var(--master-scale));
    --hex-gap-nav-vertical: calc(var(--hex-gap-nav) * 0.5);
    --hex-gap-nav-horizontal: calc(var(--hex-gap-nav) * var(--maths-root3on2));
}

html {
    height: 100%;
    background-color: black;
    background-image: linear-gradient(to right, transparent 0%, black 33.3333%, black 66.6666%, transparent 100%), url(../04-hextilebackground/images/hextile0.5.svg);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    max-width: 100%;
    scrollbar-color: #4F4F4F #2F2F2F;
}

body {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

p {
    color: #CFCFCF;
}


/* required to hide the svg definitions and stop them from appearing in the page flow.  display: none doesn't work because the definitions are lost */

.defs-clip-svg {
    position: absolute;
    z-index: -999;
}


/* BEGIN HEADER & NAV */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* position: absolute; */
    /* width: 100%; */
    /* z-index: -10; */
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#hamburger-container,
#close-button-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* height: calc(5rem * var(--maths-root3on2)); */
    height: 5rem;
    width: 5rem;
    clip-path: url("#clip-hex-horizontal-square");
}

#hamburger-container {
    /* position is required so that the child element hamburger can be position absolute relative to this element */
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: var(--aqua-2);
}

#close-button-container {
    /* this one is relative because it's parent (the nav) is absolute */
    position: relative;
    background-color: var(--aqua-2);
}


/* overlay to create create false border around container */

#hamburger-container:before,
#close-button-container:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    background: black;
    clip-path: url("#clip-hex-horizontal-square");
    z-index: -2;
}

.hamburger-bar,
.close-button-bar {
    height: 6px;
    border-radius: 3px;
    border-style: none;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-bar {
    width: 36px;
    margin: 6px 0;
    background-color: var(--aqua-2);
}

.close-button-bar {
    width: 50px;
    background-color: var(--aqua-2);
}

#close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
}

.close-button-bar-container {
    position: absolute;
}

#close-button-bar-1 {
    transform: rotate(45deg);
}

#close-button-bar-2 {
    transform: rotate(-45deg);
}


/* This is the animated background hex behind the hamburger */

#hamburger::before,
#close-button::before {
    content: '';
    display: block;
    position: absolute;
    /* 3px because of the existing 3px false border on the underlying .hamburger::before So it joins up to be a solid surface (if overlap then the alphas add together*/
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    z-index: -1;
    /* border-radius: 50%; */
    clip-path: url("#clip-hex-horizontal-square");
    background: none;
    opacity: 0;
    transform: scale(0);
    transition-property: transform, opacity;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}


/* This is the hexagonal hover area above the hamburger */

#hamburger::after,
#close-button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* border-radius: 50%; */
    clip-path: url("#clip-hex-horizontal-square");
}

#hamburger:hover,
#close-button:hover {
    cursor: pointer;
}

#hamburger:hover::before,
#close-button:hover::before {
    opacity: 1;
    transform: scale(1);
    /* filter: hue-rotate(30deg); */
}

#hamburger:hover::before {
    background-color: var(--aqua-2);
}

#hamburger:hover .hamburger-bar {
    background-color: black;
}

#close-button:hover::before {
    background-color: var(--aqua-2);
}

#close-button:hover .close-button-bar {
    background-color: black;
}

#nav-container {
    position: absolute;
    /* top: 0rem; */
    left: 0rem;
    height: 100%;
    width: 100%;
    z-index: 5;
    /* top: -9999px; */
    /* opacity: 100; */
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    /* top: -100%; */
    display: flex;
    flex-direction: column;
}

nav {
    position: relative;
    padding: 1rem;
    /* z-index: 6; */
    box-shadow: 0px 0px 20px 20px black;
    background-color: black;
}

#nav-container.nav-transparent {
    opacity: 0;
}

#nav-container.nav-opaque {
    opacity: 100;
}

#nav-container.nav-up {
    top: -100%;
}

#nav-container.nav-down {
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    list-style: none;
    padding: 1rem 0 0;
}

nav a {
    display: block;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--aqua-2);
    transition-property: color, background;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

nav a:hover {
    background: var(--aqua-2);
    color: black;
}

#nav-menu-modal-overlay {
    position: relative;
    flex: auto;
    background-color: #0000007F;
}

@media screen and (min-width: 550px) {
    #navbar {
        display: none;
    }
    #close-button-container {
        display: none;
    }
    #nav-menu-modal-overlay {
        display: none;
    }
    #nav-container {
        flex-direction: row;
        justify-content: center;
        /* background-color: var(--green-2); */
        height: unset;
        transition: unset;
    }
    #nav-container.nav-up,
    #nav-container.nav-down {
        top: 0;
    }
    #nav-container.nav-transparent,
    #nav-container.nav-opaque {
        opacity: 100;
    }
    nav {
        box-shadow: unset;
        background-color: unset;
        /* padding: 2rem; */
    }
    nav ul {
        flex-direction: row;
        gap: -2rem;
        padding: 0;
    }
    nav li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--hex-height-nav);
        width: calc(0.75*var(--hex-width-nav) + var(--hex-gap-nav-horizontal));
    }
    nav li:nth-child(even) {
        top: calc(0.5*(var(--hex-height-nav) + var(--hex-gap-nav)));
    }
    nav a {
        background-color: var(--blue-2);
        color: var(--blue-2);
        border-radius: unset;
        padding: unset;
        height: calc(8rem * var(--maths-root3on2));
        width: 8rem;
        clip-path: url(#clip-hex-horizontal-preshaped);
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
        /* font-size: 1.5rem; */
        position: absolute;
    }
    nav a#nav-link-home {
        background-color: var(--blue-2);
        color: var(--blue-2);
    }
    nav a#nav-link-aboutme {
        background-color: var(--pink-2);
        color: var(--pink-2);
    }
    nav a#nav-link-blog {
        background-color: var(--green-2);
        color: var(--green-2);
    }
    nav a#nav-link-contact {
        background-color: var(--purple-2);
        color: var(--purple-2);
    }
    nav a .nav-link-inner {
        position: absolute;
        top: calc(3px * var(--maths-root3on2));
        right: 3px;
        bottom: calc(3px * var(--maths-root3on2));
        left: 3px;
        background-color: black;
        clip-path: url(#clip-hex-horizontal-preshaped);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition-property: background-color, color;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    }
    nav a:hover .nav-link-inner {
        color: black;
    }
    nav a#nav-link-home:hover .nav-link-inner {
        background-color: var(--blue-2);
    }
    nav a#nav-link-home:hover {
        background-color: var(--blue-2);
    }
    nav a#nav-link-aboutme:hover .nav-link-inner {
        background-color: var(--pink-2);
    }
    nav a#nav-link-aboutme:hover {
        background-color: var(--pink-2);
    }
    nav a#nav-link-blog:hover .nav-link-inner {
        background-color: var(--green-2);
    }
    nav a#nav-link-blog:hover {
        background-color: var(--green-2);
    }
    nav a#nav-link-contact:hover .nav-link-inner {
        background-color: var(--purple-2);
    }
    nav a#nav-link-contact:hover {
        background-color: var(--purple-2);
    }
}

@media screen and (min-width: 1000px) {
    #nav-container {
        justify-content: flex-end;
    }
}


/* END HEADER & NAV */

main {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;
    /* overflow: hidden; */
}