/* first 4 */


/* https://paletton.com/#uid=63L0X0kw0w0jyC+oRxVy4oIDfjr */


/* second 4 */


/* https://paletton.com/#uid=64e0X0kw0w0jyC+oRxVy4oIDfjr */

:root {
    --blue-0: #5777C0;
    --blue-1: #365BB0;
    --blue-2: #1240AB;
    --blue-3: #0D3184;
    --blue-4: #082568;
    --purple-0: #9A50BF;
    --purple-1: #842EAF;
    --purple-2: #7309AA;
    --purple-3: #590683;
    --purple-4: #460467;
    --green-0: #54D954;
    --green-1: #2ECF2E;
    --green-2: #00CC00;
    --green-3: #009E00;
    --green-4: #007C00;
    --orange-0: #FFCB63;
    --orange-1: #FFBD39;
    --orange-2: #FFAA00;
    --orange-3: #C58300;
    --orange-4: #9B6700;
    --violet-0: #735AC3;
    --violet-1: #5638B4;
    --violet-2: #3914AF;
    --violet-3: #2B0E88;
    --violet-4: #20096A;
    --pink-0: #DA559E;
    --pink-1: #D12F87;
    --pink-2: #CE0071;
    --pink-3: #9F0057;
    --pink-4: #7D0044;
    --teal-0: #46B2B2;
    --teal-1: #249F9F;
    --teal-2: #009999;
    --teal-3: #007676;
    --teal-4: #005D5D;
    --yellow-0: #FFE463;
    --yellow-1: #FFDD39;
    --yellow-2: #FFD300;
    --yellow-3: #C5A300;
    --yellow-4: #9B8000;
    --blue-0-25: #5777C03F;
    --blue-1-25: #365BB03F;
    --blue-2-25: #1240AB3F;
    --blue-3-25: #0D31843F;
    --blue-4-25: #0825683F;
    --purple-0-25: #9A50BF3F;
    --purple-1-25: #842EAF3F;
    --purple-2-25: #7309AA3F;
    --purple-3-25: #5906833F;
    --purple-4-25: #4604673F;
    --green-0-25: #54D9543F;
    --green-1-25: #2ECF2E3F;
    --green-2-25: #00CC003F;
    --green-3-25: #009E003F;
    --green-4-25: #007C003F;
    --orange-0-25: #FFCB633F;
    --orange-1-25: #FFBD393F;
    --orange-2-25: #FFAA003F;
    --orange-3-25: #C583003F;
    --orange-4-25: #9B67003F;
    --violet-0-25: #735AC33F;
    --violet-1-25: #5638B43F;
    --violet-2-25: #3914AF3F;
    --violet-3-25: #2B0E883F;
    --violet-4-25: #20096A3F;
    --pink-0-25: #DA559E3F;
    --pink-1-25: #D12F873F;
    --pink-2-25: #CE00713F;
    --pink-3-25: #9F00573F;
    --pink-4-25: #7D00443F;
    --teal-0-25: #46B2B23F;
    --teal-1-25: #249F9F3F;
    --teal-2-25: #0099993F;
    --teal-3-25: #0076763F;
    --teal-4-25: #005D5D3F;
    --yellow-0-25: #FFE4633F;
    --yellow-1-25: #FFDD393F;
    --yellow-2-25: #FFD3003F;
    --yellow-3-25: #C5A3003F;
    --yellow-4-25: #9B80003F;
    --blue-0-50: #5777C07F;
    --blue-1-50: #365BB07F;
    --blue-2-50: #1240AB7F;
    --blue-3-50: #0D31847F;
    --blue-4-50: #0825687F;
    --purple-0-50: #9A50BF7F;
    --purple-1-50: #842EAF7F;
    --purple-2-50: #7309AA7F;
    --purple-3-50: #5906837F;
    --purple-4-50: #4604677F;
    --green-0-50: #54D9547F;
    --green-1-50: #2ECF2E7F;
    --green-2-50: #00CC007F;
    --green-3-50: #009E007F;
    --green-4-50: #007C007F;
    --orange-0-50: #FFCB637F;
    --orange-1-50: #FFBD397F;
    --orange-2-50: #FFAA007F;
    --orange-3-50: #C583007F;
    --orange-4-50: #9B67007F;
    --violet-0-50: #735AC37F;
    --violet-1-50: #5638B47F;
    --violet-2-50: #3914AF7F;
    --violet-3-50: #2B0E887F;
    --violet-4-50: #20096A7F;
    --pink-0-50: #DA559E7F;
    --pink-1-50: #D12F877F;
    --pink-2-50: #CE00717F;
    --pink-3-50: #9F00577F;
    --pink-4-50: #7D00447F;
    --teal-0-50: #46B2B27F;
    --teal-1-50: #249F9F7F;
    --teal-2-50: #0099997F;
    --teal-3-50: #0076767F;
    --teal-4-50: #005D5D7F;
    --yellow-0-50: #FFE4637F;
    --yellow-1-50: #FFDD397F;
    --yellow-2-50: #FFD3007F;
    --yellow-3-50: #C5A3007F;
    --yellow-4-50: #9B80007F;
    --blue-0-75: #5777C0BF;
    --blue-1-75: #365BB0BF;
    --blue-2-75: #1240ABBF;
    --blue-3-75: #0D3184BF;
    --blue-4-75: #082568BF;
    --purple-0-75: #9A50BFBF;
    --purple-1-75: #842EAFBF;
    --purple-2-75: #7309AABF;
    --purple-3-75: #590683BF;
    --purple-4-75: #460467BF;
    --green-0-75: #54D954BF;
    --green-1-75: #2ECF2EBF;
    --green-2-75: #00CC00BF;
    --green-3-75: #009E00BF;
    --green-4-75: #007C00BF;
    --orange-0-75: #FFCB63BF;
    --orange-1-75: #FFBD39BF;
    --orange-2-75: #FFAA00BF;
    --orange-3-75: #C58300BF;
    --orange-4-75: #9B6700BF;
    --violet-0-75: #735AC3BF;
    --violet-1-75: #5638B4BF;
    --violet-2-75: #3914AFBF;
    --violet-3-75: #2B0E88BF;
    --violet-4-75: #20096ABF;
    --pink-0-75: #DA559EBF;
    --pink-1-75: #D12F87BF;
    --pink-2-75: #CE0071BF;
    --pink-3-75: #9F0057BF;
    --pink-4-75: #7D0044BF;
    --teal-0-75: #46B2B2BF;
    --teal-1-75: #249F9FBF;
    --teal-2-75: #009999BF;
    --teal-3-75: #007676BF;
    --teal-4-75: #005D5DBF;
    --yellow-0-75: #FFE463BF;
    --yellow-1-75: #FFDD39BF;
    --yellow-2-75: #FFD300BF;
    --yellow-3-75: #C5A300BF;
    --yellow-4-75: #9B8000BF;
}